$white: #ffffff;
$background-color: #f0f2f5;
$normal-background-color: #fbfbfb;
$light-background-color: #f6f8fa;
$deep-background-color: #ececec;

$color-text: #42546d;
$color-light-text: #8591a1;
$color-desc: #67729d;
$color-border: #e8eaec;
$color-disabled: #c0c4cc;
$color-primary: #2d8cf0;
$color-primary-deep: #1276e0;

$title-icon-size: 16px;
$title-text-color: #202d3f;

$split-bar-width: 2px;

$light-split-color: #f0f0f0;

$border-dashed: 1px dashed $background-color;
$border-solid: 1px solid $background-color;

$hover-block: $light-background-color;
$hover-danger: #ff4c43;

//全局样式
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  position: fixed; /*设置滚动条的位置为固定*/
  top: 0px; /*设置滚动条距离顶部的距离*/
  right: 0px; /*设置滚动条距离右侧的距离*/

  width: 10px; // 垂直滚动条
  height: 10px; // 横向滚动条
  background-color: transparent;
}

// 滚动条没有滑块的轨道部分
:hover ::-webkit-scrollbar-track-piece {
  //滚动条的背景颜色
  background-color: #fff;
}

// 滚动条没有滑块的轨道部分
:hover::-webkit-scrollbar-thumb:hover {
  background-color: #cdcdd0;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #dedfe0;
  border-radius: 6px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}

.time-unit-popper {
  padding: 0;
  // margin-top: 10px !important;
  .el-input-number {
    line-height: 25px;
    width: 90px;
  }
  .el-input__inner {
    height: 25px !important;
    line-height: 25px !important;
  }
  .el-input-number__decrease,
  .el-input-number__increase {
    line-height: 12px !important;
    font-size: 12px !important;
  }
}

.date-type-selector {
  // margin-top: 8px !important;
  // margin-left: -10px;
  padding: 0;
}

.timerange-popper {
  padding: 0;
  box-shadow: none;
  background: none;
  border: none;
}

a.clickable {
  color: $color-primary;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.tooltip-content-inner::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
.tooltip-content-inner::-webkit-scrollbar-thumb {
  background: transparent !important;
  background-color: transparent !important;
}
.tooltip-content-inner::-webkit-scrollbar-track{
  background: transparent !important;
  background-color: transparent !important;
}
